* {
    padding: 0;
    border: 0;
    margin: 0;
    /*  body {
        padding: 0;
        border: 0;
        margin: 0;
    } */
}

.container {
    padding: 80px;
    height: 80vh;
    background-color: white;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: cen;
    -ms-flex-align: cen;
    align-items: cen;
    font-weight: bold;
    font-size: 20px;
}

.box {
    border: 5px solid rgb(8, 8, 8);
    padding: 0;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    margin: 0vw 25vw;
}

#on_off,
#text {
    font-size: 15px;
}

#on_off {
    background-color: rgb(255, 0, 0);
}

.time {
    font-size: 40px;
}

.innerContainer {
    position: relative;
    width: 30vw;
    margin: 10px auto;
    border: 2px solid steelblue;
    background: rgb(235, 239, 245);
    gap: 20px;
    flex-direction: column;
}

#screen {
    margin: 10px auto;
    width: 30vw;
    height: 7vw;
    background-color: rgba(159, 167, 180, 0.698);
    border: 1px solid black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
}

.time {
    display: none;
}

#function {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 2px;
}

[class^=box-] {
    background-color: gray;
    border: 1px solid black;
    height: 8vh;
    width: 25%;
    justify-content: center;
    align-items: center;
    display: flex;
}

#equal {
    background-color: green;
    font-size: 40px;
}

@media (max-width:600px) {
    .container {}
    .box {
        border: 5px solid rgb(8, 8, 8);
        padding: 0;
        justify-content: center;
        align-items: center;
        background-color: aquamarine;
        margin: 0vw 25vw;
        gap: 2px
    }
    #on_off,
    #text {
        font-size: 15px;
    }
    #on_off {
        background-color: rgb(255, 0, 0);
    }
    .time {
        font-size: 40px;
    }
    .innerContainer {
        position: relative;
        width: 25vw;
        border: 2px solid steelblue;
        background: rgb(235, 239, 245);
        gap: 2px;
    }
    #screen {
        margin: 10px auto;
        width: 25vw;
        height: 7vw;
        background-color: rgba(159, 167, 180, 0.698);
        border: 1px solid black;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .row {
        width: 30vw;
    }
    [class^=box-] {
        height: 10vh;
        width: 15%;
    }
    #equal {}
}